dialog dialog h1,dialog h2,dialog h3,dialog h4,dialog h5,dialog h6,dialog p,dialog hr,dialog article,dialog aside,dialog section,dialog figure,dialog footer,dialog header,dialogdl,dialog dt,dialog dd,dialog ul,dialog ol,dialog li,dialog th,dialog td,dialogform,dialog fieldset,dialog input,dialog button,dialog textarea,dialog * {
	margin:0;
	padding:0;
}
dialog header,dialog nav,dialog footer,dialog wrapper,dialog csstable,dialog marginbox,dialog contentbox,dialog paddingbox,dialog borderbox,dialog section {
	display:block;
}
dialog button,dialog input,dialog select,dialog textarea {
	font:12px/1 Tahoma,Arial;
}
dialog button,dialog h1,dialog h2,dialog h3,dialog h4,dialog h5,dialog h6 {
	font-size:100%;
	font:normal 12px Tahoma,Arial;
}
dialog li {
	list-style:none;
}
dialog button,dialog input,dialog select,dialog textarea {
	font-size:100%;
	border:none;
	background:none;
}
dialog input:focus,dialog textarea:focus {
	outline:none;
}
dialog fieldset,dialog img {
	border:0 none;
}
dialog img {
	vertical-align:middle;
}
dialog table {
	border:0 none !important;
	margin:0 !important;
	padding:border-collapse:collapse;
	border-spacing:0;
}
dialog q:before,dialog q:after {
	content:"";
}
dialog address,dialog cite,dialog em {
	font-style:normal;
}
dialog{
	z-index:2147483647;
	border:1px solid #eee;
	display:block;
	position:absolute;
	top:200px;
	left:200px;
	
	height:auto;
	-moz-border-radius:3px;
	-moz-box-shadow:0 0 10px rgba(0,0,0,0.2);
	background:#ededed;
	margin:0;
	padding:0;
	text-align:start;
	color:#333;
	font-family:Arial;
	font-size:11px;
}
dialog .mod1{
    width:490px;
}
dialog .mod2{
    width:400px;
}
layout {
	position:relative;
	width:100%;
	width:284px;
	float:left;
}
dialog h1 {
	margin:0;
	padding:0;
	color:#F47A24;
	font-size:22px;
	font-weight:bold;
	font-family:Arial;
	line-height:140%;
	text-indent:5px;
	border-bottom:1px dashed #d5d5d5;
	height:31px;
	text-align:left;
    background:#112;
    -moz-border-radius: 3px 3px 0 0;
    border-radius: 3px 3px 0 0;
}
csstable {
	font-size:11px;
	margin:7px auto auto 15px;
	border-right:1px dashed #d5d5d5;
	width:190px;
	float:left;
}
csstable tr {
	height:16px;
}
csstable .cssname {
	width:102px;
	font-weight:bold;
}
csstable .cssval {
	table-layout:fixed;
    word-break:break-all; 
    word-wrap:break-word;
}
marginbox,contentbox,paddingbox,borderbox {
	margin:17px auto;
}
marginbox {
	width:200px;
	height:140px;
	border:1px dashed #000;
}
borderbox {
	width:150px;
	height:100px;
	border:1px dashed #000;
}
paddingbox {
	width:100px;
	height:60px;
	border:1px dashed #000;
}
contentbox {
	width:50px;
	height:20px;
	border:1px dashed #000;
}
.layout-figure {
	position:absolute;
	font-size:10px;
}
.figure_x {
	top:77px;
}
.figure_y {
	right:138px
}
.margin-left {
	right:219px;
	text-align:right;
}
.margin-right {
	left:220px;
	text-align:left;
}
.margin-top {
	top:24px;
}
.margin-bottom {
	top:136px;
}
.border-left {
	right:194px;
	text-align:right;
}
.border-right {
	left:194px;
	text-align:left;
}
.border-top {
	top:41px;
}
.border-bottom {
	top:114px;
}
.offset-left {
	right:245px;
	text-align:right;
}
.offset-right {
	left:245px;
	text-align:left;
}
.offset-top {
	top:6px;
}
.offset-bottom {
	top:158px;
}
.padding-left {
	right:170px;
	text-align:right;
}
.padding-right {
	left:170px;
	text-align:left;
}
.padding-top {
	top:60px;
}
.padding-bottom {
	top:94px;
}
.label-margin {
	top:19px;
	left:43px;
}
.label-border {
	top:38px;
	left:69px;
}
.label-padding {
	top:56px;
	left:95px;
}
.label-content {
	margin-top:4px;
	margin-left:auto;
	margin-right:auto;
	width:100%;
	hight:100%;
	display:block;
	text-align:center;
}
.label-offset {
	left:38px;
	top:5px;
}
/*pbox*/

.pbox{
    -moz-box-shadow:0 0 10px rgba(0,0,0,0.2) ;
    position: fixed ; 
    background: url("resource://firetestie_r/box.png") no-repeat scroll 0% 0% #fff ; 
    width: 298px ; 
    height: 212px ;
    opacity:0.65 ;
    text-align:center ;
}
#pbox .wrapper{
    width:100% ;
    height:100% ;
    position:relative ;
    
}
#pbox .tag_a,#pbox .tag_b,
#pbox .d1,#pbox .d2,
#pbox .d3,#pbox .d4

{
    position:absolute ;
    height:20px ;
    width:100px ;
    line-height:20px ;
    background:#112435 ;
    color:#fff ;
    
    
}

#pbox .tag_a{
    left:8px ;
    top:25px ;
    background:#FCFFA7 ;
    color:#333 ;
}
#pbox .tag_b{
    left:188px ;
    top:172px ;
    background:green ;
    
}
#pbox .d1{
    left:148px ;
    top:6px ;
    
}
#pbox .d2{
    left:126px ;
    top:73px ;
    
}
#pbox .d3{
    left:77px ;
    top:117px ;
    
}
#pbox .d4{
    left:39px ;
    top:172px ;
    
}
.match{
    margin-left:9px;
    color:#fff;
}